RewriteEngine on
RewriteCond $1 !^(index\.php|public_data|robots\.txt|phpinfo\.php)

# MVCious route:
RewriteRule ^(.*)$ /MVCious/index.php?/$1 [L]

# Minifier:
# RewriteRule ^public_data/(.*).(css|js)$ public_data/mnfr.php?files=$1&type=$2 [QSA]
